.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
**/node_modules/

# Python
**/venv/
backend/venv/
**/__pycache__/
*.py[cod]
*.so

iterations.md
.cursorrules

# Python virtual environments
venv/
*/venv/
**/venv/
.venv
env/
.env/
ENV/
